.ant-image-preview-wrap {
  background-color: rgba(0, 0, 0, 0.525);
  backdrop-filter: blur(30px);
}

.ant-image-preview-switch-left,
.ant-image-preview-switch-right,
button.ant-image-preview-close,
.ant-image-preview-operations {
  background: rgba(0, 0, 0, 0.375) !important;
}

.ant-image-preview-switch-left-disabled,
.ant-image-preview-switch-right-disabled {
  background: rgba(0, 0, 0, 0.092) !important;
}

.ant-collapse-header-text,
.ant-collapse-content-box {
  text-align: left;
}

.ant-collapse-header-text {
  font-weight: 500;
  color: #404040;
  font-size: 0.85rem;
}

.ant-collapse-content-box {
  font-size: 0.9rem;
  padding-left: 1.7rem !important;
}

.ant-image-preview-img-wrapper img {
  border-radius: 0.7rem;
}

.ant-drawer-content-wrapper:has(.custom) {
  top: 0.8rem !important;
  right: 0.8rem !important;
  bottom: 0.8rem !important;
}

.ant-drawer-content-wrapper:has(.custom) .ant-drawer-content {
  border-radius: 0.4rem !important;
}

.ant-modal-root .ant-modal-mask {
  backdrop-filter: blur(0.5rem);
}

@media (max-width: 768px) {
  .ant-drawer-content-wrapper:has(.custom) {
    top: 0rem !important;
    right: 0rem !important;
    bottom: 0rem !important;
    left: 0rem !important;
  }
}
