@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/autoplay";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "./ant-ui-elements.css";
@import "./swiper.css";
@import "./variables.css";
@import "react-phone-number-input/style.css";

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body {
    font:
      normal 16px / 1.5 system-ui,
      "Poppins",
      sans-serif;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    background: #fcfcfd;
    color: #404040;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
  }

  .hoveredUI {
    @apply cursor-pointer transition-all duration-300 ease-in-out hover:scale-[1.05] active:scale-[0.95];
  }
  .max-width {
    @apply max-w-[90rem];
  }
}
