.testimonails-swiper {
  padding-top: 0px !important;
  padding-left: 0px !important;
}

.testimonails-swiper .swiper-pagination {
  transform: translateY(0.5rem);
}

.testimonails-swiper .swiper-button-prev {
  transform: translateY(-0.4rem) translateX(-0.5rem);
}

.testimonails-swiper .swiper-button-next {
  transform: translateY(-0.4rem) translateX(0.5rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 0;
}

.testimonails-swiper .swiper-button-prev,
.testimonails-swiper .swiper-button-next {
  border-radius: 100rem;
  box-shadow: 0 0.2rem 0.35rem -0.1rem #828282;
  width: 2rem !important;
  height: 2rem !important;
}

.testimonails-swiper .swiper-button-prev {
  background: url("/assets/icons/directional/left-arrow.svg"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% !important;
}

.testimonails-swiper .swiper-button-next {
  background: url("/assets/icons/directional/right-arrow.svg"), #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% !important;
}
