html {
}

* {
  font-family: poppins, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.app.ant-input-css-var {
  --ant-input-active-shadow: 0 0 0 2.5px rgba(10, 110, 137, 0.11) !important;
}
